<form class="ui form" action="/station/addReport" method="POST">
  <input type="hidden" value="{{lat}}" type="text" name="lat">
  <input type="hidden" value="{{lng}}" type="text" name="lng">
  <button class="ui red submit button">Auto Generate Report</button>
</form>