<section class="ui  segment"><div id="mapid">
  <style>
    #mapid { height: 280px; }
  </style>
</div>
<script>
  let map = L.map('mapid').setView([53.14, -7.69], 6);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    maxZoom: 18,
  }).addTo(map);
  {{#each stations}}
  L.marker([{{lat}}, {{lng}}]).addTo(map)
    .bindPopup('{{name}} Station')
    .openPopup();
  {{/each}}
</script>
  </section>
