{{> menu id="edit"}}
<form class="ui stacked segment form" action="settings" method="POST">
  <div class="five fields">
    <div class="field">
      <label>First Name</label>
      <input value={{firstName}} type="text" name="firstName">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input value={{lastName}} type="text" name="lastName">
    </div>
    <div class="field">
      <label>email</label>
      <input value={{email}} type="email" name="email">
    </div>
    <div class="field">
      <label>password</label>
      <input value={{password}} type="password" name="password">
    </div>
  </div>
  <button class="ui blue submit button">Submit</button>
</form>
